@{
    ViewData["Title"] = "Home Page";
}

<link type="text/css" rel="stylesheet" href="~/css/home.css" />
<div class="page-wrapper">
    <div class="page" id="page1">
        <section class="page-content">
            <h2 class="feel-the-game">Feel The Game</h2>
            <p>Welcome to our Sport Trading Platform. This is an app for odds tracking. We are keeping track of: </p>
            <section class="icons">
                <ul>
                    <li class="fadeInUp">
                        <i class="fas fa-globe-europe"></i>
                        <p>700+ Events</p>
                    </li>
                    <li class="fadeInUp">
                        <i class="fas fa-running"></i>
                        <p>9 Sports</p>
                    </li>
                    <li class="fadeInUp">
                        <i class="fas fa-trophy"></i>
                        <p>600+ Leagues</p>
                    </li>
                </ul>
            </section>
        </section>
        <img class="arrow" src="https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_down_48px-128.png" />
    </div>

    <div class="page" id="page2">
        <h1>Contacts</h1>
        <section class="page-content">
            <section class="contacts">
                <p>Aneta Tsvetkova</p>
                <ul>
                    <li>
                        <a href="https://www.facebook.com/neti.tsvetkova" target="_blank"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="https://github.com/Owliie" target="_blank"><i class="fab fa-github"></i></a>
                    </li>
                </ul>
            </section>
            <section class="contacts">
                <p>Evgeni Dimov</p>
                <ul>
                    <li>
                        <a href="https://www.facebook.com/evgeni.dimov.73" target="_blank"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="https://github.com/GenchoBG" target="_blank"><i class="fab fa-github"></i></a>
                    </li>
                </ul>
            </section>
            <section class="contacts">
                <p>Kalin Doychev</p>
                <ul>
                    <li>
                        <a href="https://www.facebook.com/kalin.doichev" target="_blank"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="https://github.com/KalinD" target="_blank"><i class="fab fa-github"></i></a>
                    </li>
                </ul>
            </section>
            <section class="contacts">
                <p>Kostadin Kostadinov</p>
                <ul>
                    <li>
                        <a href="https://www.facebook.com/kostadinhkostadinov" target="_blank"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="https://github.com/KostadinovK" target="_blank"><i class="fab fa-github"></i></a>
                    </li>
                </ul>
            </section>
            <section class="contacts">
                <p>Mihail Gerginov</p>
                <ul>
                    <li>
                        <a href="https://www.facebook.com/whyareyoustalking" target="_blank"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="https://github.com/TheRandomTroll" target="_blank"><i class="fab fa-github"></i></a>
                    </li>
                </ul>
            </section>
            <p></p>

        </section>
    </div>
</div>

@section Scripts
    {
    <script type="text/javascript" src="~/js/verticalScroll.js"></script>
}
