@{
    ViewData["Title"] = "Home Page";
}

<link type="text/css" rel="stylesheet" href="~/css/home.css" />
<div class="page-wrapper">
    <div class="page" id="page1">
        <section class="page-content">
            <h2 class="feel-the-game">Feel The Game</h2>
            <p>Welcome to our Sport Trading Platform. This is an app for odds tracking. We are keeping track of: </p>
            <section class="icons">
                <ul>
                    <li class="fadeInUp">
                        <i class="fas fa-globe-europe"></i>
                        <p>700+ Events</p>
                    </li>
                    <li class="fadeInUp">
                        <i class="fas fa-running"></i>
                        <p>9 Sports</p>
                    </li>
                    <li class="fadeInUp">
                        <i class="fas fa-trophy"></i>
                        <p>30+ Leagues</p>
                    </li>
                </ul>
            </section>
        </section>
        <img class="arrow" src="https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_down_48px-128.png" />
    </div>

    <div class="page" id="page2">
        <h1>Why</h1>
        <img class="arrow" src="https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_down_48px-128.png" />
    </div>

    <div class="page" id="page3">
        <h1>nz</h1>
    </div>
</div>

@section Scripts
    {
    <script type="text/javascript" src="~/js/verticalScroll.js"></script>
}
