@{
    ViewData["Title"] = "Home Page";
}

<link type="text/css" rel="stylesheet" href="~/css/home.css" />
<div class="page-wrapper">
    <div class="page" id="page1">
        <h1>About</h1>
        <img class="arrow" src="https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_down_48px-128.png" />
    </div>

    <div class="page" id="page2">
        <h1>Why</h1>
        <img class="arrow" src="https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_down_48px-128.png" />
    </div>

    <div class="page" id="page3">
        <h1>nz</h1>
    </div>
</div>

<div class="fixed-action-btn" id="scrollToTop">
    <a class="btn-floating waves-effect waves-light btn-large deep-purple darken-1" onclick="scrollToHome()"><i class="material-icons">keyboard_arrow_up</i></a>
</div>

@section Scripts
    {
    <script type="text/javascript" src="~/js/verticalScroll.js"></script>
}
