@model IEnumerable<EventViewModel>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table>
    <thead>
        <tr>
            <td>Name</td>
            <td>Sport</td>
            <td>League</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var eventViewModel in Model)
        {
            <tr>
                <td>@eventViewModel.Name</td>
                <td>@eventViewModel.SportName</td>
                <td>@eventViewModel.LeagueName</td>
            </tr>
        }
    </tbody>
</table>
