@model IEnumerable<EventListViewModel>
@{
    ViewData["Title"] = "Index";
}


<div class="row">
    <div class="input-field col m11">
        <input id="searchText" type="text" />
        <label for="searchText">Search</label>
    </div>
    <div class="input-field col m1">
        <button id="searchButton" onclick="searchUpdate()" class="btn-floating waves-effect waves-light deep-purple darken-1"><i class="material-icons right">search</i></button>
        <button id="searchButton" onclick="$('#searchText').val(''); searchUpdate();" class="btn-floating waves-effect waves-light deep-purple darken-1"><i class="material-icons right">clear</i></button>
    </div>
</div>

<table class="highlight">
    <thead>
        <tr>
            <th><i class="fas fa-running"></i></th>
            <th>Name</th>
            <th>Date</th>
            <th>League</th>
        </tr>
    </thead>
    <tbody id="messagesBody"></tbody>
</table>

<br />
<p id="pageCount">Page: ?/?</p>
<button id="prevButton" disabled>Prev</button>
<button id="nextButton" disabled>Next</button>

@section Scripts{
    <script src="~/js/event.js"></script>
}
