@model IEnumerable<EventListViewModel>
@{
    ViewData["Title"] = "Index";
}

<table>
    <thead>
        <tr>
            <td>Name</td>
            <td>Sport</td>
            <td>League</td>
        </tr>
    </thead>
    <tbody id="messagesBody"></tbody>
</table>

<br />
<p id="pageCount">Page: ?/?</p>
<button id="prevButton" disabled>Prev</button>
<button id="nextButton" disabled>Next</button>
<input id="searchText" type="text" style="color: white" placeholder="Search..." />
<button id="searchButton" onclick="searchUpdate()">Search</button>
<button id="searchButton" onclick="$('#searchText').val(''); searchUpdate();">Clear</button>

@section Scripts{
    <script src="~/js/event.js"></script>
}
