@model IEnumerable<EventListViewModel>
@{
    ViewData["Title"] = "Index";
}


<div class="row">
    <div class="col m8">
        <div class="input-field col m10">
            <input id="searchText" type="text" />
            <label for="searchText">Search</label>
        </div>
        <div class="input-field col m2">
            <button id="searchButton" onclick="searchUpdate()" class="btn-floating waves-effect waves-light deep-purple darken-1"><i class="material-icons right">search</i></button>
            <button id="searchButton" onclick="$('#searchText').val(''); searchUpdate();" class="btn-floating waves-effect waves-light deep-purple darken-1"><i class="material-icons right">clear</i></button>
        </div>
    </div>
</div>

<p id="pageCount">Page ? of ?</p>
<ul id="pageNumbers" style="display: inline" class="pagination"></ul>
<br />
<div class="row">
    <div class="col m8">
        <table class="highlight">
            <thead>
                <tr>
                    <th><i class="fas fa-running"></i></th>
                    <th>Name</th>
                    <th>Date</th>
                    <th>League</th>
                </tr>
            </thead>
            <tbody id="messagesBody"></tbody>
        </table>
    </div>
    <div class="col m4">
        <div class="row">
            <div class="col s12 ">
                <div class="card">
                    <div class="card-tabs">
                        <ul class="tabs tabs-fixed-width tabs-deep-purple">
                            <li class="tab"><a class="active" href="#eventsPerSport">Group by sport</a></li>
                            <li class="tab"><a href="#eventsPerLeague">Group by league</a></li>
                        </ul>
                    </div>
                    <div class="card-content">
                        <div id="eventsPerSport"></div>
                        <div id="eventsPerLeague"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/event.js"></script>
}
