
@{
    ViewData["Title"] = "Stats";
}

<h1>Stats</h1>
<div id="sports-piechart" class="pie-chart"></div>
<div id="leagues-piechart" class="pie-chart"></div>

@section Scripts{
    <script src="~/js/event.js"></script>
}