/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

* {
    font-family: "PT Sans";
}

h1, h2, h3, h4, h5, h6 {
    font-family: "PT Serif";
    margin-top: 1%;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

#messagesBody tr:hover {
    cursor: pointer;
}

i, ion-icon {
    font-size: 14pt;
}

.tabs.tabs-deep-purple .tab a {
    color: #5e35b1;
}

.tabs.tabs-deep-purple .tab a:active {
    color: #5e35b1;
}

.tabs.tabs-deep-purple .tab a:hover {
    color: rgba(94, 53, 177, 0.5);
}

.tabs.tabs-deep-purple .tab a.active {
    color: rgba(94, 53, 177, 1);
    background-color: rgba(94, 53, 177, 0.1) !important;
}

.tabs.tabs-deep-purple .tab a:focus.active {
    color: rgba(94, 53, 177, 1);
    background-color: rgba(94, 53, 177, 0.1) !important;
}

.tabs.tabs-deep-purple .indicator {
    background-color: #5e35b1;
}

/* Details page style
-------------------------------------------------- */

.parent {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.event-name {
    flex: 1;
}

.odds-text {
    margin-left:20%;
    margin-right:20%;
}

.event-name, .sport-name {
    font-size: 35px;
}

.score, .odds {
    font-size: 30px;
}

.event-details {
    text-align:center;
}

.pie-chart {
    max-width: 80vw;
    height: 41vh;
    margin-bottom: 1rem;
}

#eventsPerSport, #eventsPerLeague {
    height: 400px;
    overflow-y: auto;
}